html,body,h1,h2,h3,h4,h5,h6,div,span,p {
  margin: 0;
  padding: 0;
}
ul,li,ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
// 通用的
.m_t5 {margin-top: 5px !important;}
.m_t10 {margin-top: 10px !important;}
.m_t15 {margin-top: 15px !important;}
.m_t20 {margin-top: 20px !important;}
.m_f15 {margin-left: 15px !important;}
.m_f20 {margin-left: 20px !important;}
.m_r25 {margin-right: 25px !important;}
.p_f15 {padding-left: 15px !important;}
.font12 {font-size: 12px; !important;}
.font14 {font-size: 14px; !important;}

.f_left {
  float: left;
}
.f_right {
  float: right;
}
.color_white {
  color: #fff !important;
}
// 小手鼠标
.c_pointer {
  cursor:pointer !important;
}
.text_center {
  text-align: center;
}
